.app {
  width: 450px;
  margin: 30px auto;
  padding: 50px;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  min-height: 100vh; 
}

h4 {
  text-align: center;
}

ul {
  list-style-type: none;
  padding: 0;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px 0;
}

.transaction-item {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: 10px 0;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.transaction-item:hover .delete-btn {
  visibility: visible;
}

.delete-btn {
  position: absolute;
  right: 0px;
  transform: translateY(0%);
  visibility: hidden;
}

.transaction-item {
  border-left: 5px solid transparent;
}

.transaction-item.positive {
  border-left-color: green;
}

.transaction-item.negative {
  border-left-color: red;
}

.income-expenses-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px 0;
}

.income-expenses-box {
  flex: 1;
  text-align: center;
}

.income-box {
  border-right: 1px solid #ccc;
}
